<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="5.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Ideine.ModernHttpClient" version="3.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLitePCLRaw.core" version="1.1.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Connectivity" version="3.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.121934" targetFramework="portable45-net45+win8+wpa81" />
</packages>